@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject CustomAuthStateProvider AuthStateProvider

<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3">
        <a class="navbar-brand fw-bold" href="/">MiSistema</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                    
                <AuthorizeView Roles="Patient">
                    <li class="nav-item">
                        <NavLink class="btn btn-outline-light me-2" href="/cliente/miscitas">Agendar cita</NavLink>
                    </li>
                </AuthorizeView>

                <AuthorizeView Roles="Doctor">
                    <li class="nav-item">
                        <NavLink class="btn btn-outline-light me-2" href="/doctor/citas">Citas</NavLink>
                    </li>
                </AuthorizeView>

                <AuthorizeView Roles="Admin">
                    <li class="nav-item">
                        <NavLink class="btn btn-outline-light me-2" href="/admin/dashboard">Dashboard</NavLink>
                    </li>
                </AuthorizeView>

                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="btn btn-light text-primary me-2" href="/logout">LogOut</NavLink>
                        </li>
                
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="btn btn-outline-light me-2" href="/login">Login</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="btn btn-outline-light" href="/register">Register</NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        @Body
    </div>
</div>

@code {
    private bool isDoctor;
    private bool isAdmin;
    private bool isPatient;


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        isDoctor = user.IsInRole("Doctor");
        isAdmin = user.IsInRole("Admin");
        isPatient = user.IsInRole("Patient");
    }
}

